apiVersion: v1
kind: Service
metadata:
  name: nysus
  namespace: asgard
  labels:
    app: nysus
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: nysus
