name: asgard-ci

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  go-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.x"
      - name: Go test
        run: go test ./...

  frontend-websites:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Websites
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
      - name: Install
        run: npm install
      - name: Build
        run: npm run build

  frontend-hubs:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Hubs
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
      - name: Install
        run: npm install
      - name: Build
        run: npm run build
